body {

    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

}


section {

    display: flex;
    flex-direction: column;
    margin: 15px;

}

button {

    padding: 15px;
    margin: 5px;

}